# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
*.yml
out
gen
target/Office-1.0-SNAPSHOT.jar
target/Office-1.0-SNAPSHOT.jar.original
target/classes/META-INF/
target/classes/com.westos.Information.dao/
target/classes/com/
target/classes/form.txt
target/classes/test.xml
target/generated-sources/
target/maven-archiver/
target/maven-status/
