<div id="bmglapp" xmlns:v-on="http://www.w3.org/1999/xhtml">
	<div class="row">
		<div class="row" style="margin: 0 10px;">
			<div class="col-md-10 col-md-offset-1">
				<form class="form-inline">
					<button type="button" class="btn btn-info" data-toggle="modal" data-target="#add">添加</button>
				</form>
			</div>
		</div>
		<div class="row" style="margin: 10px;">
			<div class="col-md-10 col-md-offset-1">
				<div class="table-responsive" style="padding-left: 20px;padding-right: 20px;">
					<table class="table table-hover table-condensed">
						<caption>人员管理</caption>
						<thead>
						<tr>
							<th>姓名</th>
							<th>手机号</th>
							<th>部门</th>
							<th>职位</th>
							<th>操作</th>
						</tr>
						</thead>
						<tbody>
						<tr v-for="(item,index) in userlist">
							<td v-on:click="modify(item)">{{item.name}}</td>
							<td v-on:click="modify(item)">{{item.sjh}}</td>
							<td v-on:click="modify(item)">{{item.bm_name}}</td>
							<td v-on:click="modify(item)">{{item.zhlx_name}}</td>
							<td v-on:click="remove(item)">
								<span class="label label-danger">删除</span>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- 表单 -->
	<div class="modal fade" id="ryglform" tabindex="-1" role="dialog" aria-labelledby="ryglformLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="ryglformLabel">{{formTitle}}</h4>
				</div>
				<div class="modal-body">
					<form id="userform">
						<div class="form-group">
							<label for="username" class="control-label">部门名</label>
							<input type="text" class="form-control" id="username" name="username" v-model="user.name">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" v-on:click="submit()">确定</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 消息模态框 -->
	<div class="modal fade bs-example-modal-sm" id="msg" tabindex="-1" role="dialog" aria-labelledby="msgLabel"
		 aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="msgLabel">
						服务器消息
					</h4>
				</div>
				<div class="modal-body">
					{{msg.mess}}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>
</div>
