<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
		<title>办公自动化事务督办系统</title>
		<link rel="stylesheet" type="text/css" href="./css/index_css.css" />
		<link rel="stylesheet" type="text/css" href="./css/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
		<script type="text/javascript" src="./js/jquery.min.js"></script>
		<script src="./css/bootstrap-3.3.7-dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="./js/axios.min.js"></script>
		<script type="text/javascript" src="./js/vue.js"></script>
		<link rel="stylesheet" type="text/css" href="css/util.css" />
		<link rel="stylesheet" type="text/css" href="js/verify-master/css/verify.css" />
		<script src="js/verify-master/js/verify.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/laydate/laydate.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="js/laydate/theme/default/laydate.css"/>
	</head>
	<body class="bod">
		<div id="app">
			<div class="header">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<img id="image1" src="img/logobl.png">
							<img id="imageb" src="img/logob.png">
						</div>
						<div class="col-md-2 col-md-offset-6" id="logozcqy">
							<button type="button" class="btn btn-link" v-on:click="zhuce()">注册企业</button>
						</div>
					</div>
				</div>
			</div>
			<div class="div1">
				<div class="container">
					<div class="row">
						<div>
							<!--中部图片-->
							<div class="col-md-8 ph">
								<div class="row">
									<div class="col-md-4 col-md-offset-2">
										<!-- 轮播（Carousel）项目 -->
										<div id="myCarousel" class="carousel slide image2">
											<div class="carousel-inner">
												<div class="item active">
													<img src="img/indexbg01.png" alt="First slide">
												</div>
												<div class="item">
													<img src="img/indexbg02.png" alt="Second slide">
												</div>
												<div class="item">
													<img src="img/indexbg03.png" alt="Third slide">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--登陆框-->
							<div class="col-md-4 text-center" id="log">
								<div class="logbox">
									<div class="text-center div3">
										<label class="label1">登陆</label>
									</div>
									<div class="text-left" style="margin: 17px;">
										<form action="" method="post">
											<div>
												<input type="text" class="form-control" placeholder="手机号" v-model="user.sjh" v-on:click="back()"
												 oninput="value=value.replace(/[^\d]/g,'')" />
											</div>
											<div class="div4">
												<input type="password" class="form-control" placeholder="密码" v-model="user.pass" v-on:click="back()"
												 v-on:keyUp.enter="login()" />
											</div>
											<div id="yzm">
												<div id="mpanel1"></div>
											</div>
											<div class="alert alert-danger" id="rem">{{yzxx}}</div>
											<div class="div6">
												<button type="button" class="btn btn-info btn-block" v-on:click="login()">登录</button>
											</div>
											<div id="zcqy">
												<button type="button" class="btn btn-link" v-on:click="zhuce()">注册企业</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer">
				<div class="text-center" style="padding-top:12px ;">
					<a href="#">关于项目</a> | <a href="#">服务条款</a> | <a href="#">隐私政策</a>
					| <a href="#">联系我们</a> |<a href="#"> 帮助中心</a>
				</div>
			</div>
			<!-- 模态框（Modal） -->
			<div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
			 aria-hidden="true">
				<div class="modal-dialog modal-sm" role="document">
					<div class="modal-content">
						<div class="modal-body">
							<div class="progress progress-striped active">
								<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0"
								 aria-valuemax="100" style="width: 100%;">
								</div>
							</div>
						</div>

					</div><!-- /.modal-content -->
				</div><!-- /.modal -->
			</div>
		</div>
		<div id="app2">

		</div>
	</body>
	<script src="index.js" type="text/javascript" charset="utf-8"></script>
</html>
